body * {
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    border: solid 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.Contenedor_Global {
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    border-color: black;
    display: grid;
    grid-template-areas: 
    'Header Header Header' 
    'Menu Contenido Contenido' 
    'Footer Footer Footer';
}
Header {
    border-color: red;
    grid-area: Header;
}
ul {
    list-style: none;
}
.Menu {
    border-color: green;
    grid-area: Menu;
}
.Contenido {
    border-color: purple;
    grid-area: Contenido;
}
footer {
    border-color: orange;
    grid-area: Footer;
}
